  <div class="container text-center">
    <div class="row">
      <h2 class="title pad-left-right">Notes</h2>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <router-outlet></router-outlet>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <app-notes-list> </app-notes-list>
      </div>
      <div class="col">
      </div>
    </div>
  </div>